/**
 * Multi Meta Box Class CSS
 *
 * CSS required by multi meta box for form controls.
 * Robert Miller <rob@strawberryjellyfish.com>
 *
 * Derived from work on All Types Meta Box Class
 * by Ohad Raz <admin@bainternet.info>
 */

/* Common Rules for all fields */
.form-table td.mmb-field
{
  border:1px solid #DDD;
  padding:10px 10px 20px;
  margin:0;
  font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif
}

th.mmb-label
{
  vertical-align:top;
  line-height:28px
}

.mmb-label
{
  margin:0 0 5px;
  padding:5px 0 0;
  font:20px/31px HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-shadow:rgba(255,255,255,1) 0 1px 0;
  width:auto
}

.mmb-radio-label
{
  padding-right:10px
}

.mmb-file-upload-label
{
  clear:both;
  margin:5px 0 5px 1px
}

/* Form Fields */
.postbox .mmb-field input,.postbox .mmb-field textarea
{
  padding:5px;
  line-height:18px
}

.postbox .mmb-field input.mmb-radio
{
}

.postbox .mmb-field input.mmb-color
{
  border:0;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  margin-right:10px;
  min-width:100px
}

.mmb-field input:focus,.mmb-field textarea:focus
{
  background:#fffff8
}

#wpcontent select.mmb-select
{
  height:30px!important;
  padding:5px;
  display:block;
  min-width:200px
}

.mmb-field .desc-field
{
  color:#AAA;
  font-style:italic;
  margin:5px 0 0 3px!important;
  font-size:13px
}

.mmb-field .wp_themeSkin table.mceLayout
{
  border:1px solid #DFDFDF
}

#post-body .mmb-field .wp_themeSkin .mceStatusbar a.mceResize
{
  top:-25px
}

/* Uploaded Images */
.mmb-images li
{
  margin:5px 10px 0 0;
  float:left;
  width:150px;
  height:150px;
  text-align:center;
  border:3px solid #ccc;
  cursor:move;
  position:relative;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px
}

.mmb-images img
{
  width:150px;
  height:150px
}

.mmb-images a
{
  position:absolute;
  top:-12px;
  right:-12px;
  color:#fff;
  font-weight:700;
  padding:5px
}

.mmb-images .mmb-delete-file img
{
  width:16px;
  height:16px
}

/* Upload Button */
.mmb-upload-button
{
  float:left;
  clear:both;
  margin-top:10px
}

.mmb-add-file
{
  float:left;
  clear:both;
  margin-top:10px
}

/* Time Picker */
.ui-timepicker-div
{
  font-size:.9em
}

.ui-timepicker-div .ui-widget-header
{
  margin-bottom:8px
}

.ui-timepicker-div dl
{
  text-align:left
}

.ui-timepicker-div dl dt
{
  height:25px
}

.ui-timepicker-div dl dd
{
  margin:-25px 0 10px 65px
}

.ui-timepicker-div td
{
  font-size:90%
}

/* Repeater Block */
.mmb-repeater-block
{
  margin-bottom:10px;
  background-color:#f9f9f9;
  border:1px solid #dfdfdf
}

.mmb-repeater-table
{
  background-color:#fff;
  width:100%
}

.mmb-repeater-table-expanded
{
  display:block
}

.mmb-repeater-table-collapsed
{
  display:none
}

/* Inline */
.mmb-inline label
{
  font-size:12px!important
}

.mmb-inline textarea
{
  height:130px;
  width:200px
}

/* Code Editor */
.CodeMirror
{
  background-color:#fff
}

/* Slider */
.mmb-slider
{
  display:inline-block;
  margin-right:20px;
  width:74%
}

/* Button Icons */
.mmb-button-icon
{
  font-size:20px;
  vertical-align:middle;
  margin-right:5px;
  color:#aaa
}

.mmb-repeater-sort-highlight
{
  min-height:55px;
  background-color:#EEE;
  margin:2px
}

.mmb-repeater-control-clear
{
  clear:both;
  display:block
}

.mmb-repeater-sort-handle
{
  cursor:move
}

.mmb-repeater-remove-button
{
  cursor:pointer
}

.mmb-repeater-control
{
  float:right;
  padding:5px
}

.mmb-inline
{
  line-height:1!important
}

.mmb-inline .mmb-field
{
  border:0!important
}

.mmb-inline .mmb-label
{
  margin:0 0 1px!important
}

.mmb-inline .mmb-text
{
  width:70px
}

.mmb-inline .mmb-textarea
{
  width:100px;
  height:75px
}

.simplePanelImagePreview
{
  margin-right: 15px;
}